[submodule "libultraship"]
	path = libultraship
	url = https://github.com/htdguide/libultraship.git
	branch = wasm-port
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/htdguide/ZAPDTR.git
	branch = wasm-port
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
